<mat-toolbar>
  <span>My Application</span>
  <span class="example-spacer"></span>
  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>view_headline</mat-icon>
  </button>
  <mat-menu #menu="matMenu" fxLayout="row">
    <button mat-menu-item [style.color]="appService.selectedMenu == 'home' ? 'red' : 'black'" (click)="selectMenu('home')" routerLink="/home">
      Home
    </button>
    <button mat-menu-item [style.color]="appService.selectedMenu == 'skills' ? 'red' : 'black'" (click)="selectMenu('skills')" routerLink="/skills">Skills
    </button>
    <button mat-menu-item [style.color]="appService.selectedMenu == 'experiences' ? 'red' : 'black'" (click)="selectMenu('experiences')" routerLink="/experiences">
      Experiences
    </button>
    <button mat-menu-item [style.color]="appService.selectedMenu == 'contact' ? 'red' : 'black'" (click)="selectMenu('contact')" routerLink="/contact">
      Contact
    </button>
    <button mat-menu-item [style.color]="appService.selectedMenu == 'todo' ? 'red' : 'black'" (click)="selectMenu('todo')" routerLink="/todo">
      TODOS
    </button>
  </mat-menu>
</mat-toolbar>
