<nav>
  <ul>
    <li [style.color]="appService.selectedMenu == 'home' ? 'red' : 'black'" (click)="appService.selectMenu('home')">
      Home
    </li>
    <li [style.color]="appService.selectedMenu == 'skills' ? 'red' : 'black'" (click)="appService.selectMenu('skills')">Skills
    </li>
    <li [style.color]="appService.selectedMenu == 'experiences' ? 'red' : 'black'" (click)="appService.selectMenu('experiences')">
      Experiences
    </li>
    <li [style.color]="appService.selectedMenu == 'contact' ? 'red' : 'black'" (click)="appService.selectMenu('contact')">
      Contact
    </li>
  </ul>
</nav>
